.page-content {
    padding-top:50px;
}

.control-label{
    font-weight: bold;
    cursor: pointer;
}

.submit-panel{
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    margin: 0 -20px;
    width: 974px;
    border-top: 1px solid #e5e5e5;
    padding: 10px 0;
}

.page-content{
    position: relative;
}
